#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
h2,h3,h4{font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

p{
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}
#customers tr:nth-child(even){background-color: #ddd;}

#customers tr:hover {background-color: #fff;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-size: 17px;
  font-weight: normal;
  

}

#customers td{
  color:#666666;
}